*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Golos Text', sans-serif,serif;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
input::placeholder {
    color: #848495;
    font-size: 12px;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.solid.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
}
.active {
    color: #0e71eb !important;

}
.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1250px;
}
header {
    background-color: #f2f2f5;
}
header .container {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
header .header-controls {
    display: flex;
    align-items: center;
}
.header-controls div:first-of-type i {
    font-size: 16px;
    padding: 6px;
    cursor: no-drop;
    background-color: #dedee3;
    color: #a9a9b3;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.header-controls div .last {
    margin: 0 10px;
}
.header-controls div:last-of-type {
    position: relative;
    width: 230px;
} 
.header-controls div:last-of-type input {
    padding: 6px 0px 6px 30px;
    cursor: pointer;
    border: none;
    outline: none;
    margin-left: 5px;
    width:135px ;
    background-color:#dedee3 ;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
} 
.header-controls div:last-of-type input:focus {
    width: 100%;
}
.header-controls div:last-of-type i {
    position: absolute;
    font-size: 16px;
    left: 10px;
    top: 6px;
    color: #848495;
} 
header .header-links {
    display: flex;
    flex: 1;
    text-align: center;
    align-items: center;
    font-size: 12px;
}
header .header-links a {
    padding: 0 15px;
    color: #848495;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
header .header-links a:hover i {
    color: #222230;
}
header .header-links a p {
    color: #222230;
}
header .header-links a i {
    font-size: 18px;
}
header .container > div:last-of-type {
    position: relative;
}
header .container > div:last-of-type::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #09a639;
    right: -5px;
    top: 3px;
    border: 1px solid #f2f2f5;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
header .container > div:last-of-type img {
    background-color: #0e71eb;
    width: 28px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
