section .default {
    width: 440px;
    margin: 0 auto;
}
section .default div {
    width: 170px;
    margin: 40px auto;
}
section .default h1 {
    text-align: center;
    color: #131619;
    font-size: 25px;
    margin-bottom: 24px;
}
section .default h1 + p {
    font-size: 14px;
    color: #727476;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 50px;
}
section .default p:last-of-type {
    font-size: 10px;
    text-align: center;
    line-height: 1.6;
    color: #6e7680;
    margin-bottom: 24px;
}
section .default p a {
    color: #0956b5;
}
section .default > a {
    display: block;
    width: 200px;
    padding: 6px 10px;
    margin: 0 auto 30px;
    text-align: center;
    font-size: 16px;
    color: white;
    background-color: #0e72ed;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}